# Core
fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
python-multipart

# LangChain / LangGraph
langchain
langchain-core
langchain-community
langchain-groq
langchain-tavily
langgraph

# Search
duckduckgo-search

# RAG
langchain-text-splitters
faiss-cpu
langchain-huggingface
sentence-transformers
pypdf

# Frontend
streamlit
requests
sseclient-py

# Testing
pytest
httpx
ruff